---
http_interactions:
- request:
    method: get
    uri: https://server16022.contentdm.oclc.org/dmwebservices/index.php?q=dmGetItemInfo/p16022coll39/446/json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"title":"Catalogue for the second annual exhibition of the work of
        Minneapolis artists, November 4-30, 1916, at the Minneapolis Institute of
        Art (Minneapolis, Minnesota) \/ Artists'' League of Minneapolis; Minneapolis
        School of Art Alumni Association; Attic Club; Twin City Keramic Club; Minneapolis
        Society of Fine Arts; Minneapolis Institute of Art","photog":"Artists'' League
        of Minneapolis; Minneapolis School of Art Alumni Association","contri":"Attic
        Club (Minneapolis, Minnesota); Twin City Keramic Club; Minneapolis Society
        of Fine Arts; Minneapolis Institute of Art","descri":"Variant title: Work
        of Minneapolis artists, November 4-30, 1916. Title from cover. \"The exhibition
        is under the auspices of the Artists'' League of Minneapolis, the Alumni Association
        of the Minneapolis School of Art, the Attic Club of Minneapolis, the Twin
        City Keramic Club, and the Minneapolis Society of Fine Arts.\"--Page 2. Includes
        a list of the jury on admission which also served as a Committee on Arrangements.
        8 unnumbered pages.","dat":"1916?","publia":"Minneapolis Institute of Art
        (Minneapolis, Minnesota)","dimens":{},"genera":"The Arts","type":"Text","physic":"Exhibition
        Catalogs","specif":"Museum exhibits; Museums","subjec":"Minneapolis Institute
        of Art -- Exhibitions; Minneapolis Institute of Art -- History; Minneapolis
        Institute of Art -- Exhibitions -- 1916; Art, American -- 20th century --
        Exhibitions; Artists -- Minnesota -- Minneapolis -- Exhibitions; Art -- Competitions
        --Minnesota -- Exhibitions; Art -- Minnesota -- Minneapolis -- Exhibitions;
        Minnesota -- In art -- Exhibitions","city":"Minneapolis","county":"Hennepin","state":"Minnesota","countr":"United
        States","geogra":{},"geonam":"http:\/\/sws.geonames.org\/9409898\/","langua":"English","parent":{},"contra":"Minneapolis
        Institute of Art","contac":"Minneapolis Institute of Art, Archives, Art Research
        & Reference Library, 2400 Third Avenue South, Minneapolis, Minnesota 55404
        http:\/\/www.artsmia.org","righta":{},"rightc":"No Copyright - United States","rights":"http:\/\/rightsstatements.org\/vocab\/NoC-US\/1.0\/","rightd":"The
        organization that has made the Item available believes that the Item is in
        the Public Domain under the laws of the United States, but a determination
        was not made as to its copyright status under the copyright laws of other
        countries. The Item may not be in the Public Domain under the laws of other
        countries. Please refer to the organization that has made the Item available
        for more information.","public":{},"identi":"36765","resour":{},"projec":"Minnesota
        Reflections 2013-14","fiscal":"Funding provided to the Minnesota Digital Library
        through the Minnesota Arts and Cultural Heritage Fund, a component of the
        Minnesota Clean Water, Land and Legacy constitutional amendment, ratified
        by Minnesota voters in 2008.","publis":{},"date":{},"format":{},"digspe":{},"digspa":{},"digspb":{},"digspc":{},"digspd":{},"digspf":{},"digspg":{},"digsph":{},"digspi":{},"digspj":{},"digspk":{},"transc":{},"transl":{},"fullrs":{},"find":"447.cpd","dmaccess":{},"dmimage":{},"dmcreated":"2020-05-01","dmmodified":"2020-05-01","dmoclcno":{},"dmrecord":"446","restrictionCode":"1","cdmfilesize":"1180","cdmfilesizeformatted":"0.00
        MB","cdmprintpdf":"0","cdmhasocr":"0","cdmisnewspaper":"0"}'
  recorded_at: Sun, 19 Dec 2021 17:00:42 GMT
- request:
    method: get
    uri: https://server16022.contentdm.oclc.org/dmwebservices/index.php?q=dmGetCompoundObjectInfo/p16022coll39/446/json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"type":"Document","page":[{"pagetitle":"Title page","pagefile":"439.jp2","pageptr":"438"},{"pagetitle":"Catalogue,
        Paintings 1-4","pagefile":"440.jp2","pageptr":"439"},{"pagetitle":"Paintings
        5-25","pagefile":"441.jp2","pageptr":"440"},{"pagetitle":"Paintings 26-45","pagefile":"442.jp2","pageptr":"441"},{"pagetitle":"Paintings
        46-60, Sculpture 61-64","pagefile":"443.jp2","pageptr":"442"},{"pagetitle":"Prints
        and drawings 65-83, Commercial art 84-85","pagefile":"444.jp2","pageptr":"443"},{"pagetitle":"Commercial
        art 86-95, Applied art 96-101","pagefile":"445.jp2","pageptr":"444"},{"pagetitle":"Applied
        art 102-122","pagefile":"446.jp2","pageptr":"445"}]}'
  recorded_at: Sun, 19 Dec 2021 17:00:43 GMT
[...]
- request:
    method: get
    uri: https://server16022.contentdm.oclc.org/dmwebservices/index.php?q=dmGetCompoundObjectInfo/p16022coll39/438/json
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Requested item is not compound","code":"-2"}'
  recorded_at: Sun, 19 Dec 2021 17:00:43 GMT
recorded_with: VCR 6.0.0
