---
http_interactions:
- request:
    method: get
    uri: https://server16022.contentdm.oclc.org/dmwebservices/index.php?q=dmGetItemInfo/spl/11507/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"title":"Number 2269, Application for Permit for Repairs of Frame
        Building, Submitted June 19, 1929, Stillwater, Minnesota\n","photog":"Office
        of the Building Official, City of Stillwater, Minnesota","contri":{},"descri":"Building
        permit issued for the city of Stillwater, Minnesota. Location: Building number
        120, North side, West Chestnut Street, Lot 6, Block 23 of Original. Owner:
        Charles M. Boo, Builder: E. H. Bieging. Permit granted on June 19, 1929. ","dat":"1929-06-19","publia":{},"dimens":{},"genera":"Architecture","type":"Text","physic":"Building
        permits","specif":"Building; Building sites -- Planning","subjec":"Stillwater
        building; Permits","city":"Stillwater","distri":{},"county":"Washington","state":"Minnesota","countr":"United
        States","geogra":{},"latitu":{},"longit":{},"geogrb":{},"langua":"English","par":{},"contra":"Stillwater
        Public Library","contac":"Stillwater Public Library, 224 Third Street North,
        Stillwater, MN 55082 http:\/\/www.stillwaterlibrary.org","righta":"No known
        U.S. copyright restrictions.","identi":"spl2269","resour":{},"projec":"Minnesota
        Reflections 2014-15;","fiscal":"This work is made possible through the Digital
        Public Library of America''s Public Library Partnership Project, which is
        supported by the Digital Public Library of America with funding provided by
        the Bill and Melinda Gates Foundation.\n","publis":"University of Minnesota
        ","date":{},"format":{},"digspe":{},"digspa":{},"digspb":{},"digspc":{},"digspd":{},"digspf":{},"digspg":{},"digsph":{},"digspi":{},"digspj":{},"digspk":{},"transc":{},"transl":{},"fullrs":{},"find":"11592.cpd","dmaccess":{},"dmimage":{},"dmcreated":"2016-01-22","dmmodified":"2016-01-22","dmoclcno":{},"dmrecord":"11507","restrictionCode":"1","cdmfilesize":"327","cdmfilesizeformatted":"0.00
        MB","cdmprintpdf":"0","cdmhasocr":"0","cdmisnewspaper":"0"}'
  recorded_at: Tue, 12 Jul 2016 15:29:26 GMT
- request:
    method: get
    uri: https://server16022.contentdm.oclc.org/dmwebservices/index.php?q=dmGetCompoundObjectInfo/spl/11507/json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"type":"Document","page":[{"pagetitle":"Page 1","pagefile":"11590.jp2","pageptr":"11505"},{"pagetitle":"Page
        2","pagefile":"11591.jp2","pageptr":"11506"}]}'
  recorded_at: Tue, 12 Jul 2016 15:29:26 GMT
recorded_with: VCR 3.0.3
